/* @author Gerasimov Ruslan */

/* SCROBBLE */

.gvik-scrobble
{

    font-size: 17px;
    height: 17px;

    float: left;

    margin: 1px;
    padding: 0 2px;

    cursor: pointer;
    -webkit-transition: color 100ms ease;

    color: rgba(127, 150, 172, .5);
}
body[data-gvik-os='Linux'] .gvik-scrobble
{
    font-size: 18px;
    height: 18px;
}
.gvik-scrobble.mp
{
    position: absolute;
    right: 0;

    overflow: hidden;

    width: 25px;
    height: 16px;
}
.gvik-scrobble.errors
{
    color: gray !important;
}
.gvik-scrobble.errors:after
{
    content: '!';
}
#gp:not(.head) .wrap.active .gvik-scrobble
{
    color: rgba(255, 255, 255, .4);
}
#gp:not(.head) .wrap.active .gvik-scrobble.on
{
    color: rgba(255, 255, 255, 1);
}
#gp:not(.head) .wrap.active .gvik-scrobble.scrobbled
{
    width: 13px;
    height: 10px;

    background-position: 0 -540px;
}
#gp:not(.head) .wrap.active .gvik-scrobble.errors
{
    width: 18px;
    height: 10px;

    background-position: 0 -360px;
}
.gvik-like
{

    float: left;

    padding: 1px 2px;

    font-size: 15px;
    height: 15px;
    margin: 2px 1px;
    cursor: pointer;

    color: rgba(127, 150, 172, .56);
}
body[data-gvik-os='Linux'] .gvik-like
{
    font-size: 16px;
    height: 16px;
    margin: 1px;
}
.gvik-like.on,
.gvik-scrobble.on
{
    color: #507494;
}
#pd.gvik .ac_name
{
    max-width: calc( 295px - 40px);
}
#ac.gvik .ac_name
{
    max-width: calc( 327px - 40px );
}
#pd.gvik.add .ac_name
{
    max-width: calc( 305px - 40px);
}
#pd.gvik.no_rec.add .ac_name
{
    max-width: calc( 324px - 40px);
}
.font_medium #pd.gvik.add .ac_name
{
    max-width: calc(302px - 40px);
}
.font_medium #pd.gvik.no_rec.add .ac_name
{
    max-width: calc(321px - 40px);
}
#ac.gvik.add .ac_name
{
    max-width: calc( 310px - 40px);
}
#ac.gvik.no_rec .ac_name
{
    max-width: calc( 346px - 40px);
}
.font_medium #ac.gvik.add .ac_name
{
    max-width: calc(307px - 40px);
}
.font_medium #ac.gvik.no_rec.add .ac_name
{
    max-width: calc( 326px - 40px);
}
#pd.gvik.no_rec .info
{
    width: calc( 453px - 40px );
}
#pd.gvik.add .info
{
    width: calc( 414px - 40px );
}
#pd.gvik.no_rec.add .info
{
    width: calc( 433px - 40px );
}
#ac.gvik .info,
#pd.gvik .info
{
    width: calc(  434px - 40px );
    margin-left: 10px;
}
#ac.gvik.no_rec .info
{
    width: calc(  453px - 40px );
}
#ac.gvik.add .info
{
    width: calc(  414px - 40px );
}
#ac.gvik.no_rec.add .info
{
    width: calc(  433px - 40px );
}
.audio[data-gvik].scrobbled
{
    font-size: 16px;

    background-color: rgb(255, 242, 189);
}

/* DOWNLOAD AND BITRATE AUDIO */
.gvik-download
{
    visibility: hidden;
    float: right;

    width: 13px;
    height: 13px;
}
#audio.new .audio[data-gvik-download] .gvik-download
{
    margin: 6px 6px 6px 0;
    padding: 4px;
}
.audio[data-gvik-download].over .gvik-download
{
    visibility: visible;
}
.audio[data-gvik-download].have_btn .gvik-download
{
    visibility: visible;
}
.gvik-bitrate
{
    font-size: 10px;

    float: left;

    margin: 0 0 0 8px;

    color: #8795a5;
}
#audio.new .wall_module .audio .title_wrap
{
    max-width: 290px;
}
#audio.new .audio[data-gvik-bitrate] .gvik-bitrate,
#audio.new .audio[data-gvik-bitrate-filesize] .gvik-bitrate
{
    padding: 10px 3px 9px;
}
.audio[data-gvik-download] .actions,
.audio[data-gvik-bitrate] .actions,
.audio[data-gvik-bitrate-filesize] .actions
{
    min-width: 98px;
}
.gvik-bitrate.loader
{
    width: 32px;
    height: 8px;

    background: url('chrome-extension://__MSG_@@extension_id__/img/loader.gif') no-repeat 50% 50%;
}
#audios_list .wall_module .gvik-bitrate,
#audios_list .wall_module .gvik-download,
#pad_playlist .wall_module .gvik-bitrate,
#pad_playlist .wall_module .gvik-download
{
    padding: 0 !important;
}
#pad_playlist .audio.current .gvik-bitrate,
#audio.new .audio.current .gvik-bitrate
{
    color: white;
}
#pad_playlist .audio[data-gvik-download] .actions,
#pad_playlist .audio[data-gvik-bitrate] .actions,
#pad_playlist .audio[data-gvik-bitrate-filesize] .actions
{
    margin: 0;
    padding: 0;
}
#pad_playlist .audio .gvik-bitrate,
#pad_playlist .audio .gvik-download
{
    margin: 7px 0 7px 0;
    padding: 4px;
}
#pad_playlist .audio[data-gvik-bitrate-filesize] .gvik-bitrate,
#pad_playlist .audio[data-gvik-bitrate-filesize] .gvik-download
{
    margin: 7px 0 0 -15px;
    padding: 4px;
}
#search_content .audio .gvik-bitrate,
#search_content .audio .gvik-download
{
    margin: 8px;
}
#pad_search_list .audio .gvik-bitrate,
#pad_search_list .audio .gvik-download
{
    padding: 10px;
}
.gvik-download > a > div
{
    width: 11px;
    height: 13px;

    -webkit-transition: opacity .2s ease-in;

    opacity: .5;
    background: url('chrome-extension://__MSG_@@extension_id__/img/sprite.png') 2px 2px no-repeat;
}
.audio:not(:hover) .gvik-download
{
    display: none;
}
.audio.current .gvik-download > a > div
{
    background-position: 0 -57px;
}
.audios_module .audio .gvik-bitrate
{
    padding: 8px 2px;
}
div[class^=post_media] .audio.current .gvik-download > a > div
{
    background-position: 0 0;
}
.results .audio.current .gvik-download > a > div
{
    background-position: 0 0;
}
.audio .gvik-download > a > div:hover
{
    -webkit-transition: opacity .2s ease-in;

    opacity: 1;
}
.audio .actions a
{
    display: initial;

    width: 0 !important;
    padding: 0 !important;
}
.post_media .audio .actions
{
    visibility: visible !important;
}
.post_media .audio .gvik-bitrate,
.post_media .audio .gvik-download
{
    margin-top: 8px;
}
#audio.new .audio .actions
{
    right: 0;

    padding: 0;
}
#pad_playlist_panel .wall_module .audio .title_wrap
{
    max-width: 290px;
}
body:not([data-gvik-options*='_hide-bit_']) .audio .gvik-bitrate
{
    display: none;
}
body:not([data-gvik-options*='_hide-bit_']) .audio.over .gvik-bitrate
{
    display: block;
}
body:not([data-gvik-options*='_hide-bit_']) .audio[data-gvik-bitrate].over .title_wrap,
body[data-gvik-options*='_hide-bit_'] .audio[data-gvik-bitrate] .title_wrap
{
    width: -webkit-calc(100% - 95px) !important;
}
body:not([data-gvik-options*='_hide-bit_']) .audio[data-gvik-bitrate-filesize].over .title_wrap,
body[data-gvik-options*='_hide-bit_'] .audio[data-gvik-bitrate-filesize] .title_wrap
{
    width: -webkit-calc(100% - 150px) !important;
}
.audio[data-gvik-download] .title_wrap
{
    width: -webkit-calc(100% - 85px) !important;
}
body:not([data-gvik-options*='_hide-bit_']) .audio[data-gvik-bitrate][data-gvik-download].over .title_wrap,
body[data-gvik-options*='_hide-bit_'] .audio[data-gvik-bitrate][data-gvik-download] .title_wrap
{
    width: -webkit-calc(100% - 125px) !important;
}
body:not([data-gvik-options*='_hide-bit_']) .audio[data-gvik-bitrate-filesize][data-gvik-download].over .title_wrap,
body[data-gvik-options*='_hide-bit_'] .audio[data-gvik-bitrate-filesize][data-gvik-download] .title_wrap
{
    width: -webkit-calc(100% - 150px) !important;
}
#results .audio  .title_wrap
{
    max-width: 360px;
}
.narrow_column .gvik-download
{
    margin: 8px;
}
.narrow_column .audio .title_wrap
{
    max-width: 116px !important;
}
.audio.over  .duration
{
    display: none !important;

    color: rgb(135, 149, 165);
}
#gp.gvik,
#gp.gvik #gp_back
{
    width: 174px !important;
}
#gp.gvik #gp_info
{
    width: 136px !important;
}
.gvik-none
{
    display: none !important;
}

/* ANIM HIDE/SHOW */
.gvik-hide
{
    visibility: hidden;

    -webkit-transition: opacity 350ms ease, visibilty 360 ease;

    opacity: 0;
}
.gvik-show
{
    visibility: visible;

    -webkit-transition: visibility 350ms ease, opacity 360ms ease;

    opacity: 1;
}

/* EXIT FROM GROUPS */
.gvik-exit-group
{
    visibility: hidden;
    float: right;

    width: 11px;
    height: 11px;

    cursor: pointer;
    -webkit-transition: all 200ms ease;
            transition: all 200ms ease;

    opacity: 0;
    background: url(chrome-extension://__MSG_@@extension_id__/img/sprite.png) 0 -179px no-repeat;
}
.group_list_row:hover .gvik-exit-group
{
    visibility: visible;

    opacity: .5;
}
.group_list_row:hover .gvik-exit-group:hover
{
    opacity: 1;
}

/* OPTIONS */
 
body:not([data-gvik-options*='_ads_']) #left_ads
{
    display: none !important;
}
body:not([data-gvik-options*='_heart_']) #pv_hh
{
    visibility: hidden !important;

    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
}

/* SIDEBAR */
#gvik-sidebar
{
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;

     width: 200px;
    /* height: 100%;
    */
    height: auto;
    max-height: 100%;

    -webkit-user-select: none;
    -webkit-transform: translate3d(100%, 0, 0);

    color: rgb(96, 115, 135);
    border-left: 1px solid rgba(100, 100, 100, 0.08);
    border-bottom: 1px solid rgba(100, 100, 100, 0.08);
    background: #f7f7f7;
}
#gvik-sidebar.large
{
    width: 390px;
}
#gvik-sidebar.anim
{
    -webkit-transition: all .2s ease;
}
#gvik-sidebar.show
{
    -webkit-transform: translate3d(0%, 0, 0);
}
.gvik-switcher
{
    font-size: 15px;

    position: absolute;
    top: 0;

    overflow: hidden;

    width: 15px;
    min-height: 30px;

    cursor: pointer;
    -webkit-transform: translate3d(-100%, 0px, 0px);

    border: 1px solid rgb(225, 229, 231);
    border-right: 0;
    background: #f7f7f7;
}
#gvik-sidebar .gvik-switcher.additional
{
    display: none;
    position: relative;
}
#gvik-sidebar.show .gvik-switcher.additional
{
    display: block;
}
#gvik-sidebar.anim .gvik-switcher
{
    -webkit-transition: -webkit-transform .1s linear, width .1s linear;
}
.gvik-switcher:hover
{
    width: 30px;
}
#gvik-wrap
{
    overflow: auto;

    width: 100%;
    height: auto;
    min-height: 60px;


  /*   background: #f7f7f7 url('chrome-extension://__MSG_@@extension_id__/img/progress.gif') no-repeat 50% 50%; */
}
#gvik-sidebar.anim .tabCont
{
    -webkit-transition: opacity 450ms ease;
}
#gvik-wrap .tabCont
{
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    min-height: 65px;
    z-index: 4;
/*     opacity: 0;
     */    background-color: #f7f7f7;
}

#gvik-sidebar .tabCont:after{
  position: absolute;
  z-index: 5;
  left: calc(50% - 20px);
  top: calc(50% - 40px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-animation: options-loader .5s linear infinite alternate;
  content: ' ';
}

#gvik-wrap .tabCont > *
{
    display: none;
}

#gvik-wrap .tabCont.loaded > *
{
    display: block;
}

#gvik-wrap .tabCont.loaded:after
{
    display: none;
}

#gvik-sidebar.anim #gvik-wrap .tabCont.loaded
{
    -webkit-transition: opacity 400ms ease;
}


#gvik-sidebar .tabCont.loaded:after{
      -webkit-animation: 0;
}
#gvik-wrap .tabCont.loaded
{
    opacity: 1;
}
#gvik-sidebar .tabCont div.item
{
    cursor: pointer;
}
#gvik-sidebar .tabCont div.item:hover
{
    background: #edf1f5;
}
#gvik-sidebar div > .item-cont
{
    overflow: hidden;

    height: 50px;
}
#gvik-sidebar.min div > .item-cont
{
    display: flex;

    height: 25px;
}
#gvik-sidebar div > .item-cont .img-cont
{
    display: inline-block;
    float: left;
}
#gvik-sidebar div > .item-cont .label-cont
{
    display: inline-block;
    float: left;

    max-width: 90px;
    margin-top: 5px;
    margin-left: 5px;
}
#gvik-sidebar.min div > .item-cont .label-cont
{
    max-width: 150px;
    margin-left: 25px;
}
#gvik-sidebar.large div > .item-cont .label-cont
{
    max-width: 290px;
}
#gvik-sidebar .label-cont > .label
{
    display: inline-block;
    float: left;
    overflow: hidden;

    width: 120px;

    white-space: nowrap;
    text-overflow: ellipsis;
}
#gvik-sidebar.large .label-cont > .label
{
    width: 320px;
}
#gvik-sidebar .img
{
    width: 50px;
    height: 50px;

    background: url('chrome-extension://__MSG_@@extension_id__/img/noavatar.gif') no-repeat;
    background-size: cover;
}
#gvik-sidebar div a
{
    text-decoration: none;
}

/* SIDEBAR VK */
#gvik-sidebar.hide-offline .tabCont.vk > div.item[data-online='0']
{
    display: none;
}
#gvik-sidebar .tabCont.vk .status
{
    display: inline-block;
    float: right;

    width: 11px;
    height: 11px;
    margin-top: 5px;
    margin-right: 2px;
}
#gvik-sidebar .tabCont.vk.hidden-offline div[data-online='0']
{
    display: none;
}
#gvik-sidebar .tabCont.vk div[data-online='1'] .status
{
    background: url('chrome-extension://__MSG_@@extension_id__/img/misc.png') 2px -46px no-repeat;
}
#gvik-sidebar .tabCont.vk div[data-online='2'] .status
{
    background: url('chrome-extension://__MSG_@@extension_id__/img/misc.png') 0 -128px no-repeat;
}
#gvik-sidebar .tabCont.vk div .status-text
{
    font-size: .95em;

    position: relative;

    display: block;
    overflow: hidden;

    white-space: pre-wrap;
    word-wrap: break-word;

    color: #999;
}

/* SIDEBAR LAST.FM */
 
#gvik-sidebar .tags
{
    width: 85%;
    min-height: 30px;
    margin: 4px auto;
}
#gvik-sidebar.large .tags
{
    width: 200px;
}
#gvik-lastfm .cover
{
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#gvik-lastfm .cover > img
{
    visibility: hidden;
}

/* #gvik-lastfm.loader {
    background: url('chrome-extension://__MSG_@@extension_id__/img/progress.gif') no-repeat 50% 50%;
}
*/
#gvik-lastfm .duration
{
    font-size: .8em;

    display: inline-block;
    float: left;

    margin: 3px 1px;

    color: gray;
}
#gvik-lastfm .tag
{
    font-size: .9em;
    line-height: 20px;

    display: inline-block;

    margin: 1px;
    padding: 0 3px;

    text-transform: lowercase;

    color: #fff;
    border-radius: 3px;
    background-color: #0187c5;
    box-shadow: rgba(0, 0, 0, .2) 0 -1px 0 inset, rgba(0, 0, 0, .1) 0 1px 4px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, .3);
}
#gvik-lastfm .tag a
{
    line-height: 22px;

    display: block;

    color: white;
}
#gvik-lastfm .item-cont.active
{
    background-color: #5f7fa2;
}
#gvik-lastfm .cur-track .item-cont
{
    background: #E5EAEE;
} 

#gvik-lastfm .tabs
{
    height: auto;
}
#gvik-lastfm .tabs > .tab
{
    font-size: 11px;
    line-height: 25px;

    display: block;

    width: 100%;
    margin: 0;
    padding: 0 3px;

    cursor: pointer;
    /* -webkit-transition: background 500ms ease;
    */

    color: #2b587a;
    border: 0;
    background: transparent;

    -webkit-appearance: none;
}
#gvik-lastfm .tabs > .tab:focus
{
    outline: 0;
}
#gvik-lastfm .tabs > .tab:checked
{
    background: rgba(225, 231, 237, .74);
}
#gvik-lastfm .tabs > .tab:after
{
    content: attr(data-label);
}
#gvik-lastfm .tracks
{
    margin-top: 5px;
}
#gvik-lastfm .artistInfo .label
{
    font-size: 1.1em;
    font-weight: bold;

    padding: 5px;

    opacity: 1;
}
#gvik-lastfm.searchandplay .item .img-cont:after
{
    top: 0;
    left: 0;

    display: block;
    visibility: hidden;

    width: 50px;
    height: 50px;
    margin-top: -50px;

    content: '';
    -webkit-transition: opacity 200ms ease, visibility 250ms ease;
         -o-transition: opacity 200ms ease, visibility 250ms ease;
            transition: opacity 200ms ease, visibility 250ms ease;

    opacity: 0;
    background: url('chrome-extension://__MSG_@@extension_id__/img/playBtn.png') 50% 50% rgba(0, 0, 0, .8) no-repeat;
}
#gvik-lastfm.searchandplay .item:hover .img-cont:after
{
    visibility: visible;

    opacity: .6;
}
#gvik-lastfm.searchandplay .item:hover .img-cont:hover:after
{
    opacity: 1;
}
.style-scrollbar::-webkit-scrollbar
{
    width: 7px;
}
.style-scrollbar::-webkit-scrollbar-track
{
    margin: 1px;
}
.style-scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 8px;
    background: #dae1e8;
}
.gvik-launcher-layer
{
    position: fixed;
    z-index: 23;
    top: 0;
    left: 0;

    display: none;
    overflow: hidden;

    width: 100%;
    height: 100%;
    padding: 0;

    background: transparent;
}
.gvik-launcher-input-cont
{
    position: relative;

    width: 510px;
    height: auto;
    margin: 0 auto;
    padding: 5px;

    background: rgba(65, 87, 109, .96);
}
.gvik-launcher-layer.show
{
    display: block;
}
.gvik-launcher-input
{
    font-size: 2em !important;

    width: 470px;
    height: 30px;
    margin: 10px;
    padding: 0 10px;

    border: 0;
    background: white;
}
.gvik-launcher-result
{
    height: auto;
    min-height: 100px;
}



.gvik-contextmenu
{
    position: absolute;
      background: #F7F7F7;
    height: auto;
    width: auto;
    z-index: 1540;
    display: none;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.22);
    border: 1px solid #DAE2E8;
}

.gvik-contextmenu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    height: auto;
    width: 150px;
}

.gvik-contextmenu ul li
{ 
    text-align: center;
}
.gvik-contextmenu ul li:hover
{
      background: #EDF1F5;
}
.gvik-contextmenu ul li a
{
    text-decoration: none;
    height: 23px;
    line-height: 23px;
    display: block;

}