
#tab
{
    box-sizing: border-box;
    width: 100%;
}


.tabs
{
    width: 100%;
}

.tabs ul
{
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;
}

.tabs li
{
    min-width: 50px;

    cursor: pointer;
    text-align: -webkit-center;

    -webkit-flex: 1;
}

.tabs li:hover
{
    background: #ebebeb;
}

.tabs li a
{
    font-size: 13px;
    line-height: 30px;

    display: block;

    height: 30px;

    color: rgb(63, 118, 123);
}



.tabs li.active
{
    background: white;
}



.tabs-cont
{
    width: 100%;

    background: white;
}

.tabs-cont > div
{
    display: none;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-height: 350px;
    padding: 5px;

    border-top: 0;
}

.tabs-cont > div.active
{
    display: block;
    /*     background: white;
 */
}



.dropdown
{
    width: auto;
    max-width: 200px;
}


.dropdown.active .cont
{
    display: block;
}

.dropdown .label
{
    display: block;

    width: 100%;

    cursor: pointer;
    -webkit-user-select: none;
    text-align: -webkit-center;
}


.dropdown.active .label
{
    display: none;
}


.dropdown .cont
{
    position: relative;

    display: none;
    overflow: hidden;

    width: 100%;
    padding: 5px;
 
    background: white;
    border: 1px solid #e5e5e5
}


.dropdown .cont .label
{
    color: red;
}

.dropdown .cont ul
{
    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
}


.lastfm .nav
{
    height: 50px;
}
